$mainCopy: #000000;
$subCopy: #9f8e8e;
$aCopy: #f0ece2;
$aCopyOver: #69779b;

@font-face {
  font-family: "NotoSans-Bold";
  src: local("NotoSans-Bold"),
    url(../fonts/NotoSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans-Regular";
  src: local("NotoSans-Regular"),
    url(../fonts/NotoSans-Regular.ttf) format("truetype");
}

.intro-section {
  background-color: #ffffff;
  height: auto;
  padding: 0 0px 50px 0px;
  .introMainSection {
    font-family: "NotoSans-Regular", sans-serif;
    padding: 50px 0;
    text-align: center;
    width: 700px;
    color: $mainCopy;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-family: "NotoSans-Bold", sans-serif;
      font-size: 2.4em;
      padding-bottom: 10px;
    }
    h2 {
      font-family: "NotoSans-Regular", sans-serif;
      color: $subCopy;
      font-size: 0.8em; 
      padding-top: 0px;
      padding-bottom: 10px;
    }
    p {
      padding-top: 22px;
    }
    
  }
  .flexContainer {
    display: flex;
    justify-content: center;
    div {
      flex: 0 0 18em;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
    h3 {
      font-family: "NotoSans-Bold", sans-serif;
      font-size: 0.8em;
      padding-top: 50px;
      text-align: left;
      padding-bottom: 10px;
    }
    p {
      font-family: "NotoSans-Regular";
      padding-top: 0px;
      font-size: 0.6em;
      line-height: normal;
      text-align: left;
    }
    .bar {
      width:100%;
      height:10px;
      background-color: pink;
    }
  }
  .flexContainer2 {
    display: flex;
    justify-content: center;
    div {
      // flex: 0 0 18em;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
    // h3 {
    //   font-family: "NotoSans-Bold", sans-serif;
    //   font-size: 0.8em;
    //   padding-top: 50px;
    //   text-align: left;
    //   padding-bottom: 10px;
    // }
    // p {
    //   font-family: "NotoSans-Regular";
    //   padding-top: 0px;
    //   font-size: 0.6em;
    //   line-height: normal;
    //   text-align: left;
    // }
    span {
      font-size:0.4em;
    }
    .bar {
      width:800px;
      height:35px;
      background-color: pink;
      h4 {
        font-size:0.6em;
        line-height: 1.8em;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .intro-section {
    .introMainSection {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .intro-section {
    .introMainSection {
      padding: 75px 0px;
      h1 {
        font-size: 1.2em;
        padding-top: 25px;
        padding-bottom: 10px;
      }
      a {
        color: $aCopy;
        border-bottom: 1px solid $aCopy;
      }
    }
  }
}
