$aCopy: #f0ece2;
$aCopyOver: #69779b;

@font-face {
  font-family: "NotoSans-Bold";
  src: local("NotoSans-Bold"),
    url(../fonts/NotoSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans-Regular";
  src: local("NotoSans-Regular"),
    url(../fonts/NotoSans-Regular.ttf) format("truetype");
}

.intro-section {
  background-color: #000000;
  height: calc(100vh + 0px);
  padding: 0 0px;
  .introMainSection {
    font-family: "NotoSans-Regular", sans-serif;
    padding: 100px 0;
    text-align: center;
    width: 700px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-family: "NotoSans-Bold", sans-serif;
      font-size: 2.4em;
      padding-top: 25px;
      padding-bottom: 10px;
    }
    a {
      color: $aCopy;
      border-bottom: 1px solid $aCopy;
    }
    a:hover {
      text-decoration: none;
      color: $aCopyOver;
      border-bottom: 1px solid $aCopyOver;
    }
    p {
      padding-top: 22px;
    }
  }
  .avatar {
    background-image: url(/static/media/avatar.b401e273.jpg);
    width: 280px;
    height: 280px;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #5e5959;
  }
  .downSelect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 30px auto;
    border: 3px solid #ffffff;
    height: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px;
    span {
      position: absolute;
    }
    .topArrow {
      left: 50%;
      margin-left: -9px;
      top: 8px;
    }
    .topArrow2 {
      left: 50%;
      margin-left: 0px;
      top: 8px;
    }
    .bottomArrow {
      left: 50%;
      margin-left: -9px;
      top: 18px;
    }
    .bottomArrow2 {
      left: 50%;
      margin-left: 0px;
      top: 18px;
    }
  }
  .downSelect:hover {
    border: 3px solid $aCopyOver;
  }
}

.canvas {
  //background: url(http://findmatthew.com/style/../img/filler.png) center
  //center/cover;
  height: 103%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.5;
  overflow: hidden;
}

@media only screen and (max-width: 750px) {
  .home {
    .homeMainSection {
      width: 100%;
      .avatar {
        width: 220px;
        height: 220px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .home {
    .homeMainSection {
      padding: 75px 0px;
      h1 {
        font-size: 1.2em;
        padding-top: 25px;
        padding-bottom: 10px;
      }
      a {
        color: $aCopy;
        border-bottom: 1px solid $aCopy;
      }
    }
    .avatar {
      width: 180px;
      height: 180px;
    }
  }
}
